# MySQL Connector

In [7]:
import mysql.connector

# Create connection
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="MYSQL1201"
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000002751994CEC8>

# Create a Database

In [8]:
# Get a bufferd cursor, should be performed before executing
mycursor = mydb.cursor(buffered=True)
#mycursor.execute("CREATE DATABASE mydatabase")

In [9]:
# To check whether "mydatabase" exists
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('classicmodels',)
('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

# Create a table

In [11]:
# Create connection with database: mydatabase
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="MYSQL1201",
    database="mydatabase"
)

mycursor = mydb.cursor(buffered=True)

#mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

# Create primary key when creating the table:
mycursor.execute("CREATE TABLE customers(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

In [12]:
# To check whether "customers" exists
mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('customers',)

In [13]:
# Create primary key in an existing table
#mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

# Insert value (data) into table

In [14]:
# insert a record in the "customers" table
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

# Required to make the changes, otherwise no changes are made to the table.
mydb.commit()
print(mycursor.rowcount, "record inserted")

1 record inserted

In [15]:
# Fill the "customers" table with multiple data
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
    ('Peter', 'Lowstreet 4'),
    ('Amy', 'Apple st 652'),
    ('Hannah', 'Mountain 21'),
    ('Michael', 'Valley 345'),
    ('Sandy', 'Ocean blvd 2'),
    ('Betty', 'Green Grass 1'),
    ('Richard', 'Sky st 331'),
    ('Susan', 'One way 98'),
    ('Vicky', 'Yellow Garden 2'),
    ('Ben', 'Park Lane 38'),
    ('William', 'Central st 954'),
    ('Chuck', 'Main Road 989'),
    ('Viola', 'Sideway 1633')
]

# To insert multiple rows into table
# The second parameter of the .executemany() method is a list of tuples
mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted")

13 was inserted

In [16]:
mycursor = mydb.cursor(buffered=True)
# Get the id of the row you just inserted
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Michelle", "Blue Village")
mycursor.execute(sql, val)

mydb.commit()

print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 15

# Select from a table

In [17]:
mycursor = mydb.cursor(buffered=True)
mycursor.execute("SELECT * FROM customers")

# fetches all rows from the last executed statement.
myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(1, 'John', 'Highway 21')
(2, 'Peter', 'Lowstreet 4')
(3, 'Amy', 'Apple st 652')
(4, 'Hannah', 'Mountain 21')
(5, 'Michael', 'Valley 345')
(6, 'Sandy', 'Ocean blvd 2')
(7, 'Betty', 'Green Grass 1')
(8, 'Richard', 'Sky st 331')
(9, 'Susan', 'One way 98')
(10, 'Vicky', 'Yellow Garden 2')
(11, 'Ben', 'Park Lane 38')
(12, 'William', 'Central st 954')
(13, 'Chuck', 'Main Road 989')
(14, 'Viola', 'Sideway 1633')
(15, 'Michelle', 'Blue Village')

In [18]:
mycursor = mydb.cursor(buffered=True)
# To select only "name" & "address" columns
mycursor.execute("SELECT name, address FROM customers")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('John', 'Highway 21')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')
('Michelle', 'Blue Village')

In [19]:
mycursor = mydb.cursor(buffered=True)
# fetchone(): return the first row of the result
mycursor.execute("SELECT * FROM customers")
myresult = mycursor.fetchone()
print(myresult)

(1, 'John', 'Highway 21')

# WHERE: select with a filter

In [20]:
mycursor = mydb.cursor(buffered=True)
# select record(s) where the address is "Park Lane 38"
sql = "SELECT * FROM customers WHERE address='Park Lane 38'"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

(11, 'Ben', 'Park Lane 38')

In [21]:
mycursor = mydb.cursor(buffered=True)
# select records where the address contains the word "way"
sql = "SELECT * FROM customers WHERE address LIKE '%way%'"
mycursor.execute(sql)
myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(1, 'John', 'Highway 21')
(9, 'Susan', 'One way 98')
(14, 'Viola', 'Sideway 1633')

In [22]:
mycursor = mydb.cursor(buffered=True)
# prevent SQL injection
# excape query values by using %s
sql = "SELECT * FROM customers WHERE address=%s"
address = ("Yellow Garden 2", )

mycursor.execute(sql, address)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(10, 'Vicky', 'Yellow Garden 2')

# Sort the result

In [23]:
mycursor = mydb.cursor(buffered=True)
# sort the result alphabetically by name
sql = "SELECT * FROM customers ORDER BY name"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

(3, 'Amy', 'Apple st 652')
(11, 'Ben', 'Park Lane 38')
(7, 'Betty', 'Green Grass 1')
(13, 'Chuck', 'Main Road 989')
(4, 'Hannah', 'Mountain 21')
(1, 'John', 'Highway 21')
(5, 'Michael', 'Valley 345')
(15, 'Michelle', 'Blue Village')
(2, 'Peter', 'Lowstreet 4')
(8, 'Richard', 'Sky st 331')
(6, 'Sandy', 'Ocean blvd 2')
(9, 'Susan', 'One way 98')
(10, 'Vicky', 'Yellow Garden 2')
(14, 'Viola', 'Sideway 1633')
(12, 'William', 'Central st 954')

In [24]:
mycursor = mydb.cursor(buffered=True)
# sort the result reverse alphabetically by name
sql = "SELECT * FROM customers ORDER BY name DESC"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

(12, 'William', 'Central st 954')
(14, 'Viola', 'Sideway 1633')
(10, 'Vicky', 'Yellow Garden 2')
(9, 'Susan', 'One way 98')
(6, 'Sandy', 'Ocean blvd 2')
(8, 'Richard', 'Sky st 331')
(2, 'Peter', 'Lowstreet 4')
(15, 'Michelle', 'Blue Village')
(5, 'Michael', 'Valley 345')
(1, 'John', 'Highway 21')
(4, 'Hannah', 'Mountain 21')
(13, 'Chuck', 'Main Road 989')
(7, 'Betty', 'Green Grass 1')
(11, 'Ben', 'Park Lane 38')
(3, 'Amy', 'Apple st 652')

# Delete record

In [25]:
mycursor = mydb.cursor(buffered=True)
# delete any record where the address is "Mountain 21"
sql = "DELETE FROM customers WHERE address=%s"
address = ("Yellow Garden 2", )
mycursor.execute(sql, address)
# Required
mydb.commit()
print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

# Update table

In [26]:
mycursor = mydb.cursor(buffered=True)
# Overwrite the address column from "Valley 345" to "Canyoun 123", escaping values
sql = "UPDATE customers SET address=%s WHERE address=%s"
value = ("Valley 345", "Canyon123")
mycursor.execute(sql, val)
mydb.commit()
print(mycursor.rowcount, "record(S) affected")

1 record(S) affected

# Limit the result

In [29]:
mycursor = mydb.cursor(buffered=True)
# select the 5 first records in the "customers" table
sql = "SELECT * FROM customers LIMIT 5"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

(1, 'John', 'Highway 21')
(2, 'Peter', 'Lowstreet 4')
(3, 'Amy', 'Apple st 652')
(4, 'Hannah', 'Mountain 21')
(5, 'Michael', 'Valley 345')

In [31]:
mycursor = mydb.cursor(buffered=True)
# the five records, starting from the third record, by "OFFSET" keyword
sql = "SELECT * FROM customers LIMIT 5 OFFSET 2"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

(3, 'Amy', 'Apple st 652')
(4, 'Hannah', 'Mountain 21')
(5, 'Michael', 'Valley 345')
(6, 'Sandy', 'Ocean blvd 2')
(7, 'Betty', 'Green Grass 1')

# Delete table

In [ ]:
# delete table "customers", if it exists
mycursor = mydb.cursor(buffered=True)
sql = "DROP TABLE IF EXISTS customers"
mycursor.execute(sql)