# Connect the MYSQL

In [1]:
# import library
import mysql.connector

# create connection
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="MYSQL1201"
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x0000026AE3C26388>

In [2]:
# check whether "mydatabase" exists
sql = "SHOW DATABASES"
mycursor = mydb.cursor(buffered=True)
mycursor.execute(sql)
for x in mycursor:
    print(x)

('classicmodels',)
('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [3]:
# connect with "mydatabase"
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="MYSQL1201",
    database="mydatabase"
)

# Create 2 tables

In [11]:
mycursor = mydb.cursor(buffered=True)
sql_users = "CREATE TABLE users (id INT, name VARCHAR(255), fav INT)"
sql_products = "CREATE TABLE products (id INT, name VARCHAR(255))"

mycursor.execute(sql_users)
mycursor.execute(sql_products)

In [12]:
# to show whether tables exist
mycursor = mydb.cursor(buffered=True)
sql = "SHOW TABLES"

mycursor.execute(sql)
for x in mycursor:
    print(x)

('customers',)
('products',)
('users',)

# Insert data into tables

In [16]:
# fill the "users" table with multiple data: 3 rows
mycursor = mydb.cursor(buffered=True)
sql = "INSERT INTO users (id, name, fav) VALUES (%s, %s, %s)"
val = [
    (1, 'John', 154),
    (2, 'Peter', 154),
    (3, 'Amy', 155)
]

mycursor.executemany(sql, val)
mydb.commit()
print(mycursor.rowcount, "was inserted")

3 was inserted

In [18]:
# insert 2 row of data without fav values
mycursor = mydb.cursor(buffered=True)
sql = "INSERT INTO users (id, name) VALUES(%s, %s)"
val = [
    (4, 'Hannah'),
    (5, 'Michael')
]

mycursor.executemany(sql, val)
mydb.commit()
print(mycursor.rowcount, "was inserted")

2 was inserted

In [4]:
# check the data in the table: users
mycursor = mydb.cursor(buffered=True)
sql = "SELECT * FROM users"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

(1, 'John', 154)
(2, 'Peter', 154)
(3, 'Amy', 155)
(4, 'Hannah', None)
(5, 'Michael', None)

In [20]:
# fill the "customers" table with multiple data: 3 rows
mycursor = mydb.cursor(buffered=True)
sql = "INSERT INTO products (id, name) VALUES (%s, %s)"
val = [
    (154, 'Chocolate Heaven'),
    (155, 'Tasty Lemons'),
    (156, 'Vanilla Dreams')
]

mycursor.executemany(sql, val)
mydb.commit()
print(mycursor.rowcount, "was inserted")

3 was inserted

In [5]:
# check the data in the table: products
mycursor = mydb.cursor(buffered=True)
sql = "SELECT * FROM products"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

(154, 'Chocolate Heaven')
(155, 'Tasty Lemons')
(156, 'Vanilla Dreams')

In [11]:
# join users & products to see the name of the users favorite product
mycursor = mydb.cursor(buffered=True)
sql = "SELECT \
    users.name AS user, \
    products.name AS favorite \
    FROM users \
    INNER JOIN products ON users.fav = products.id"
    
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print("('name', 'favrite')=", x)

('name', 'favrite')= ('John', 'Chocolate Heaven')
('name', 'favrite')= ('Peter', 'Chocolate Heaven')
('name', 'favrite')= ('Amy', 'Tasty Lemons')

In [15]:
# LEFT JOIN
# return all users though they do not have favorite product
sql = "SELECT \
    users.name AS user, \
    products.name AS favorite \
    FROM users \
    LEFT JOIN products ON users.fav = products.id"

mycursor = mydb.cursor(buffered=True)
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print("('name', 'favorite')=", x)

('name', 'favorite')= ('John', 'Chocolate Heaven')
('name', 'favorite')= ('Peter', 'Chocolate Heaven')
('name', 'favorite')= ('Amy', 'Tasty Lemons')
('name', 'favorite')= ('Hannah', None)
('name', 'favorite')= ('Michael', None)

In [18]:
# RIGHT JOIN
# return all products
sql = "SELECT \
    users.name AS user, \
    products.name AS favorite \
    FROM users \
    RIGHT JOIN products ON users.fav = products.id"

mycursor = mydb.cursor(buffered=True)
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print("('name', 'favorite')=", x)

('name', 'favorite')= ('John', 'Chocolate Heaven')
('name', 'favorite')= ('Peter', 'Chocolate Heaven')
('name', 'favorite')= ('Amy', 'Tasty Lemons')
('name', 'favorite')= (None, 'Vanilla Dreams')